
.dashboardComponentContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.userCard{
    border: 2px solid rgb(191, 197, 191);
    padding: 10px;
}

.userCardAvatar{
    text-align: center;
}

span{
    font-weight: bold;
    font-size: medium;
}

.ButtonEditorContainer{
    /* border: 2px solid rgb(26, 255, 18); */
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-self: flex-end;
    align-content: flex-end;
}

.editModalContainer{
    width: 40%;

}

.editButton{
    background-color: rgb(42, 121, 54);
    color: white;
    width: 100%;
    
}

.editButton:hover{
    background-color: rgb(62, 165, 54);
}


.deleteButton{
    background-color: rgb(225, 63, 63);
    color: white;
    width: 100%;
}

.deleteButton:hover{
    background-color: rgb(237, 92, 92);
}


@media all and (max-width: 767px) {
    .dashboardComponentContainer{
        grid-template-columns: repeat(2, 1fr);
    }

    
}

@media all and (max-width: 640px) {
    .dashboardComponentContainer{
        grid-template-columns: repeat(1, 1fr);
    }

    
}